<%= render "shared/header", locals: {term: @term} %>

<div class="boxcontent">
<%= form_with model: @term, url:term_path(@term.id), method: :patch, local: true do |f| %>
<%= render 'shared/error_messages', model: f.object %>
  <div class="term-post">
    <div class="term-post-box">編集する</div>
    <%= f.text_field :title, class:"title", placeholder:"タイトル" %>
    <%= f.text_field :reference, class:"title", placeholder:"引用元記述" %>
    <%= f.text_area :text, class:"text", placeholder:"URLのみ記述" %>
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
      <%= f.submit "編集する" ,class:"edit-btn-edit" %>
      <%=link_to 'もどる', term_path(@term.id), class:"back-btnedit" %>
    </div>
<% end %>
</div>
<%= render "shared/footer" %>