
<%= render "shared/header", locals: {research: @research} %>


<div class ="main-container">
  <div class ="left-container">
    <h1 class="left-top">ジャンル</h1>
    <% @genres.each do |genre|%>
      <li class="nav-term active" >
        <%= link_to "#{genre.name}" ,genre_term_path(genre.id), class: "nav-term" %>
      </li>
    <%end%>
  </div>

<div class ="right-container">
        <p class="theme">用語一覧</p>
    <% @terms.each do |term| %>
      <div class="term-container scroll attach">
        <table class="detail-table">
          <tbody>
            <tr>
              <div class="detail-value-title">
                <%= link_to term_path(term.id),  method: :get do %>
                  <%= term.title %>
                <% end %>
              </div>
            </tr>
            <tr>
              <th class="detail-term-category">ジャンル</th>
              <td class="detail-value-category">
                <%= link_to genre_term_path(term.genre.id),  method: :get do %>
                  <%= term.genre.name %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="detail-term-reference">引用元詳細</th>
              <td class="detail-value-reference"><%= term.reference %></td>
            </tr>
            <tr>
              <th class="detail-term">いいね数</th>
              <td class="detail-value"><div id="term_<%= term.id %>"<%= render 'term', term: term %></div></td>
            </tr>
            <tr>
              <th class="detail-term-url">URL</th>
              <td class="detail-value-url"><%= raw Rinku.auto_link(h(term.text)) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
    <% if @terms.blank?%>
      <div class="s-error"><h2>検索に当てはまる候補はありません</h2></div>
    <%end%>
    <div class="bottom-top-page">
      <%= link_to 'トップページへ戻る', root_path, method: :get, class:'genre-another-term' %>
    </div>
  </div>

  <%= link_to new_term_path do %>
    <button type="button" class="btn-sf-like">投稿する</button>
  <% end %>

</div>
<%= render "shared/footer" %>