<div class="term-show">
  <div class="term-box">
    <h2 class="name">
      <%= @term.title %>
    </h2>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-term">投稿者ニックネーム</th>
          <td class="detail-value"><%= @term.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-term">ジャンル</th>
          <td class="detail-value"><%= @term.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-term">用語キーワード</th>
          <td class="detail-value"><%= @term.title %></td>
        </tr>
        <tr>
          <th class="detail-term">引用元詳細</th>
          <td class="detail-value"><%= @term.reference %></td>
        </tr>
        <tr>
          <th class="detail-term">URL</th>
          <td class="detail-value"><%= raw Rinku.auto_link(h(@term.text)) %></td>
        </tr>
        <tr>
          <th class="detail-term">投稿日時</th>
          <td class="detail-value"><%= @term.created_at.strftime('%Y/%m/%D %H:%M:%S') %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "sozai_cman_jp_20200928143103.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
    <% if user_signed_in? && current_user.id == @term.user_id %>
    <%= link_to '用語の編集', edit_term_path(@term.id), method: :get, class: "term-red-btn" %>
    <%= link_to '削除', term_path(@term.id), method: :delete, class:'term-destroy' %>
    <% end %>
  <a href="#" class='another-term'><%= "用語のジャンル" %>をもっと見る</a>
  </div>
  
</div>

<%= render "shared/footer" %>
